<app-nav></app-nav>
<div class="container">
    <section class="section">
        <h1 class="title">Choose a Template</h1>
        <div class="columns">
            <div class="column">
                <figure claass="image" (click)="templateChosen('01')">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
            <div class="column">
                <figure claass="image" (click)="templateChosen('02')">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
            <div class="column">
                <figure claass="image">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
        </div>
    </section>
</div>