<nav class="navbar">
    <div class="navbar-brand">
        <div class="navbar-item link" (click)="navigateToHome()">
            <img src="../../assets/logo.png" style="max-height: 70px;" alt="logo">
            <h1 style="font-size: 24px;">templatr</h1>
        </div>
        <div class="navbar-burger" *ngIf="currentPage !== 'login'" style="height: 86px;" (click)="burgerToggle()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu" [ngClass]="{'is-active': burgerActive}">
        <div class="navbar-end" *ngIf="currentPage === 'landing'">
            <div class="navbar-item mr-4">
                <span class="login-text" style="font-size: 19px;" *ngIf="!userAuthenticated" (click)="loginNavigate()">Log in</span>
                <span class="login-text" style="font-size: 19px;" *ngIf="userAuthenticated" (click)="logoutNavigate()">Log out</span>
            </div>
        </div>
        <div class="navbar-end" *ngIf="currentPage !== 'landing' && currentPage !== 'login' && currentPage !== 'profile' && currentPage !== 'template01'">
            <div class="navbar-item mr-4" *ngIf="currentPage === 'templates'">
                <span class="is-active cursor" (click)="dashboardNavigate()">Dashboard</span>
            </div>
            <div class="navbar-item mr-4">
                <figure class="image is-48x48" style="cursor: pointer;">
                    <img class="is-rounded rectangle-to-square" style="max-height: none;" [src]="userPhoto" *ngIf="userAuthenticated" (click)="profileNavigate()">
                </figure>
            </div>
        </div>
        <div class="navbar-end" *ngIf="currentPage === 'profile'">
            <div class="navbar-item mr-4">
                <span class="is-active cursor" (click)="dashboardNavigate()">Dashboard</span>
            </div>
        </div>
        <div class="navbar-end mobile-nav" *ngIf="currentPage === 'profile'">
            <div class="navbar-item">
                <span class="is-active cursor" (click)="triggerProfileMethod('settings')">Settings</span>
            </div>
            <div class="navbar-item">
                <span class="is-active cursor" (click)="triggerProfileMethod('subscription')">Subscription</span>
            </div>
            <div class="navbar-item">
                <span class="is-active cursor" (click)="triggerProfileMethod('logout')">Logout</span>
            </div>
        </div>
        <div class="navbar-end" *ngIf="currentPage === 'template01'">
            <div class="navbar-item mr-4">
                <span class="is-active cursor" (click)="dashboardNavigate()">Dashboard</span>
            </div>
            <div class="navbar-item mr-4">
                <button class="button is-info" (click)="saveTemplate()">Save</button>
            </div>
        </div>
    </div>
</nav>
