.login-text:hover {
    color: black;
    cursor: pointer;
}

.link {
    cursor: pointer;
}
.link:hover {
    color: black;
}


.mobile-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobile-nav {
        display: block;
        
    }
}