.column-width {
    max-width: 400px;
}

.image-container {
    position: relative;
    .delete-button {
        position: absolute;
        top: -17px;
        right: -22px;
        border-radius: 30px;
    }
}