<app-nav></app-nav>

<div class="container">
    <section class="section">
        <div class="is-flex is-justify-content-space-between is-align-content-center">
            <h1 class="title">Your Saved Projects</h1>
            <button type="button" class="button is-primary" (click)="navigateToTemplates()">Create New Project</button>
        </div>
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="../../assets/image-placeholder.jpeg">
                </figure>
            </div>
        </div>
    </section>
</div>