<app-nav></app-nav>

<div class="container">
    <section class="section">
        <div class="is-flex is-justify-content-space-between is-align-content-center">
            <h1 class="title">Your Saved Projects</h1>
            <button type="button" class="button is-primary" (click)="navigateToTemplates()">Create New Project</button>
        </div>
        <div class="columns" *ngIf="savedTemplates?.length">
            <div class="column" *ngFor="let template of savedTemplates">
                <figure class="image">
                    <img [src]="template.columns[0].heroImage" (click)="navigateToSavedTemplate(template)">
                </figure>
            </div>
        </div>
        <div class="info" *ngIf="!savedTemplates?.length">
            <h3 class="subtitle">You do not have any saved projects yet. Click on the Create New Project button to create a new project</h3>
        </div>
    </section>
</div>