/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';
body {
    font-family: 'Source Sans 3', sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.rectangle-to-square {
    object-fit: cover;
    aspect-ratio: 1/1;
}

.cursor {
    cursor: pointer;
}

.column-header-image {
    width:  100%;
    height: 300px;
    object-fit: cover;
}

.column-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.dashboard-image {
    width: 100%;
    height: 230px;
    object-fit: cover;
}