<footer class="footer">
    <div class="block">
            <ul class="icon-list">
                <li><a href="#" class="icon" facebookIcon></a></li>
                <li><a href="#" class="icon" instagramIcon></a></li>
                <li><a href="#" class="icon" googleIcon></a></li>
            </ul>
    </div>
    <div class="block">
        <ul class="footer-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Get Connected</a></li>
            <li><a href="#">Recipies</a></li>
        </ul>
    </div>
    <div class="block">
        <p>templater&copy; 2022</p>
    </div>
</footer>
